header{
	background: #BBBBBB;
	padding: 20px 0;
}
#logo{
	width: 40%;
}
.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}
nav {
	position: absolute;
	top: 110px;
	right: 0;
}
nav li{
	display: inline;
	margin: 0 0 0 15px;

}
nav a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}
nav a:hover{
	color:#c78c19;
}

.produtos li{
	display: inline-block;
	text-align: center;

	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 20px 30px;
	border-width:2px;	 
	box-sizing:border-box;
	border: 2px solid #ff0000;
    border-radius: 10px;
    border-style: bold;
    }
	#banner{
		width: 30%;
	}
	.produtos li:hover{
    border-color: #c78c19;
	}
	.produtos li:active{
		border-color: #088c19;
	}
.produtos li:hover h2{
	text-transform: uppercase;
	font-size: 30px;
}
	