.cabecalho{
background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
	width: 100%;
	height: 150px;
	color: white;
	text-align: center;
	border: 10px solid ;
}
.menu{
	background-color: greenyellow;
	width: 400px;
	border-radius: 2%;
	margin: 1%;
	height: 500px;
	color: blue;
	border: 4px solid ;
	float:left;
	text-align: center;
	margin:1%; 
}

.pagina{
	width: 400px;
	height: 500px;
	color: blue;
	float:left;
	text-align: center;
	margin: 1%;
	border: 4px solid ;
		border-radius: 2%;
background-color: lightblue;
}
.lado{
	width: 400px;
	color: blue;
	height: 500px;
	border-radius: 2%;
	margin: 1%;
	text-align: center;
	border: 4px solid ;
	float:left;
	background-color: lightgreen;
}
.rodape{
	background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
	width: 100%;
	height: 150px;
	text-align: center;
	color: white;
	clear: both;
	margin: 1%;
	border: 1px solid black ;
}
p{
	font-size:20px;
	font-size: center; 
}
.img{
width: 70%;
margin: 2%;
}
.table{

	border: 2px solid black;
}
tr{
	border: 2px solid black;
}
th{
		border: 2px solid black;
}
td{
		border: 2px solid black;
}
thead{
		border: 2px solid black;
}