.um{

background-color: red;
text-align: center;
color: white;

}
.text{
  background-color: red;
  color: white;
  text-align: center;
}
#center{
  background-color: white;
  border-radius: 50% solid: 2%;
  margin: 5%;
  width: 90%;
  border-color: #000000;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 54px 55px,
 rgba(0, 0, 0, 0.42) 0px -12px 30px, rgba(0, 0, 0, 0.12) 
 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}
.img{
  width: 10%;
  display:block;
  opacity: 1.0;
  margin: 0%;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 54px 55px,
 rgba(0, 0, 0, 0.42) 0px -12px 30px, rgba(0, 0, 0, 0.12) 
 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
.um{

background-color: red;
text-align: center;
color: white;

}
.text{
  background-color: red;
  color: white;
  text-align: center;
}
#center{
  background-color: white;
  border-radius: 50% solid: 2%;
  margin: 5%;
  width: 90%;
  border-color: #000000;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 54px 55px,
 rgba(0, 0, 0, 0.42) 0px -12px 30px, rgba(0, 0, 0, 0.12) 
 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}
.img{
  width: 10%;
  display:block;
  opacity: 1.0;
  margin: 0%;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 54px 55px,
 rgba(0, 0, 0, 0.42) 0px -12px 30px, rgba(0, 0, 0, 0.12) 
 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#center{
  align-items: center;
  text-align: center;
}